{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='{{ path('equipe') }}'">Liste des équipes</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='{{ path('joueur') }}'">Liste des joueurs</button>
{% endblock %}
